%p#notice= notice

.panel.panel-default
  .panel-heading
    %h3.panel-title
      = image_tag(@gist.avatar,:alt => "image", :width => 30, :height => 30)
      = @gist.name
  .panel-body
    %p
      %b Auteur:
      = @gist.user
    %p
      %b Gists Id:
      = @gist.gists_id
    %p
      %b Categorie:
      - if !@gist.category.nil?
        = @gist.category.name
      - else
        Pas de catégorie !

= link_to 'Edit', edit_gist_path(@gist)
\|
= link_to 'Back', gists_path
