!!!
%html
  %head
    %title ExoGist
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-default.navbar-static-top
      .container.collapse.navbar-collapse
        %ul.nav.navbar-nav
          - if company_signed_in?
            %li
              %a{href:"/"}
                Ajouter des gists
            %li
              %a{href:"#{gists_path}"}
                voir les gists
            %li
              %a{href:"#{categories_path}"}
                voir les catégories
            %li
              %a{href:"#{new_category_path}"}
                Ajouter de nouvelle catégorie
          %li
            - if company_signed_in?
              =link_to "Deconnection",destroy_company_session_path, method: :delete
            - else
              %a{href:""}
                Connexion
    .container
      %p Rechercher avec le nom du gist le pseudo ou l'id du gists
      .search{style: "margin-bottom:30px; width:500px; margin: auto 0;" }
        %form{ action:"#{search_result_path}", method: "POST"}
          %input{type:"hidden", name:request_forgery_protection_token.to_s, value: form_authenticity_token }
          .input{style:"margin-bottom: 20px"}
            %input.form-control{type:"text", name: "search", placeholder:"Recherche"}

          %button.btn.btn-primary.btn-block{type:"submit"}
            Rechercher
      %hr
      = yield
